body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  background: linear-gradient(-45deg, #2c3531, #116466, #d9b08c, #d1e8e2);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gameboardDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 420px;
  justify-content: center;
  align-items: center;
}

.block {
  width: 120px;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 200ms;
}

.block div {
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 95%;
  height: 95%;
}

.block:hover div {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.clickedPlayer-1 {
  background-color: green !important;
}

.clickedPlayer-2 {
  background-color: red !important;
}

.scoreDiv {
  display: flex;
  margin-top: 20px;
  gap: 4em;
}

.playerOne,
.playerTwo {
  padding: 12px;
  border-radius: 10px;
}

.playerOne {
  color: green;
}

.playerTwo {
  color: red;
}

.difficulty {
  font-size: 16pt;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: none;
  background: #333;
  color: white;
  bottom: 0;
}

.block div,
.playerOne,
.playerTwo {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
